
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h4>When &amp; What</h4>
    <%= bootstrap_form_for(:params, layout: :inline, hide_label: true) do |f| %>

      <div class="input-append">
        <%= f.select :when_choice,
          options_for_select([['Today','Today'],['This Week','This Week'],['This Month','This Month']], @when_choice),
          hide_label: true
        %>
        <%= f.submit "go!" %>
      </div>
   <% end %>

    <div class="calendar-block well">
      <% @notes.each do |note| %>
        <h5><%= note.due_date_time %></h5>
        <p>&nbsp;&nbsp;<%= note.subject %></p>
        <p><em><small>&nbsp;&nbsp;&nbsp;&nbsp;<%= note.body %></small></em></p>
      <% end %>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h4>Who</h4>
    <%= bootstrap_form_for(:params, layout: :inline, hide_label: true) do |f| %>

      <div class="input-append">
        <%= f.text_field :who_choice, placeholder: @who_choice, hide_label: true %>
        <%= f.submit "go!"%>
      </div>
   <% end %>
    <div class="customer-block well">
      <% @customers.each do |customer| %>
        <div class="row">
          <p><%= customer.name %><a href="#"><span class="pull-right glyphicon glyphicon-pencil"></span></a></p>
          <p><em><small>&nbsp;&nbsp;&nbsp;&nbsp;<%= customer.address %></small></em></p>
        </div>
        <% end %>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
  <h4>Where</h4>
    <div id="map" style="height:400px;background-color:blue;"></div>

    <button id="mapButton">Clear Markers</button>
  </div>
</div>
