
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h4>When &amp; What</h4>
    <%= bootstrap_form_for(:params, layout: :inline, hide_label: true) do |f| %>

      <div class="input-append">
        <%= f.select :when_choice,
          options_for_select([['Today','Today'],['This Week','This Week'],['This Month','This Month']], @when_choice),
          hide_label: true
        %>
        <%= f.submit "go!" %>
      </div>
    <% end %>

    <div class="calendar-block well">
      <% @notes.each do |note| %>
        <div id=<%= note.id %> class="note-block">
          <p class="note-due">
            <% due = note.due_date_time %>
            <% if (due.hour+due.min==0) %>
              Task Due: <%= due.strftime("%m-%d-%Y") %>
              <a href="#"><span data-noteid="<%= note.id %>" class="completed-button pull-right glyphicon glyphicon-check"></span></a>
            <% else %>
              Appt: <%= due.strftime("%H:%M - %m-%d-%Y") %>
            <% end %>
            <% if (note.customer_id != nil && note.customer_id != '') %>
              <a href="#"><span data-noteid="<%= note.id %>" class="BD2Go-marker pull-right glyphicon glyphicon-map-marker"></span></a>
            <% end %>
          </p>
          <p class="note-subject"><%= note.subject %></p>
          <p class="note-body"><%= note.body %></p>
        </div>
        <% end %>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h4>Who</h4>
    <%= bootstrap_form_for(:params, layout: :inline, hide_label: true) do |f| %>

      <div class="input-append">
        <%= f.text_field :who_choice, placeholder: @who_choice, hide_label: true, :class => 'input-medium' %>
        <%= f.submit "go!"%>
      </div>
   <% end %>
    <div class="customer-block well">
      <% @customers.each do |customer| %>
        <div class="customer-block">
          <p class="customer-name">
            <%= customer.name %>
            <%= link_to '', new_customer_note_path(customer.id), :class=>'customer-add-note pull-right glyphicon glyphicon-pencil' %>
            <a href="#"><span  data-title="<%= customer.name %>" class="BD2Go-marker pull-right glyphicon glyphicon-map-marker"></span></a>
          </p>
          <p class="customer-address"><%= customer.address %></p>
        </div>
        <% end %>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <h4>Where</h4>
    <div class='row'><span class="pull-right"><button id="mapButton">Clear Markers</button></span></div>
    <div id="map" style="height:400px;background-color:blue;"></div>
  </div>
</div>
