
<div class="row">
  <div class="col-sm-4">
    <h4>When &amp; What</h4>
    <%= bootstrap_form_for(:params, layout: :inline, hide_label: true) do |f| %>

      <div class="input-append">
        <%= f.select :when_choice,
          options_for_select([['Today','Today'],['This Week','This Week'],['This Month','This Month']], @when_choice),
          hide_label: true
        %>
        <%= f.submit "go!" %>
      </div>
    <% end %>

    <div class="calendar-block index-block well">
      <% @notes.each do |note| %>
        <div id=<%= note.id %> class="note-block">
          <p class="note-due">
            <% due = note.due_date_time %>
            <% if (note.customer_id != nil && note.customer_id != '') %>
              <a href="#"><span data-noteid="<%= note.id %>" class="BD2Go-marker pull-right glyphicon glyphicon-map-marker"></span></a>
            <% end %>
            <% if (due.hour+due.min==0) %>
              Task Due: <%= link_to due.strftime("%m-%d-%Y"), edit_note_path(note), :method => :get %>
              <%= link_to '', complete_task_path(note), :method=> :patch, :class=>'completed-button pull-right glyphicon glyphicon-check' %>
            <% else %>
              Appt: <%= link_to due.strftime("%H:%M - %m-%d-%Y"), edit_note_path(note), :method => :get %>
            <% end %>
          </p>
          <p class="note-subject"><%= note.subject %></p>
          <p class="note-body"><%= note.body %></p>
        </div>
        <% end %>
    </div>
  </div>
  <div class="col-sm-4">
    <h4>Who</h4>
    <%= bootstrap_form_for(:params, layout: :inline, hide_label: true) do |f| %>

      <div class="input-append">
        <%= f.text_field :who_choice, id: "who_choice", placeholder: @who_choice, hide_label: true, :class => 'input-medium' %>
        <%= f.submit "go!"%>
      </div>
   <% end %>
    <div class="customer-block index-block well">
      <% @customers.each do |customer| %>
        <div class="customer-block">
          <p class="customer-name">
            <%= customer.name %>
            <a href="#"><span  data-title="<%= customer.name %>" class="BD2Go-marker pull-right glyphicon glyphicon-map-marker"></span></a>
            <%= link_to '', new_customer_note_path(customer.id), :class=>'customer-add-note pull-right glyphicon glyphicon-pencil' %>
          </p>
          <p class="customer-address"><%= customer.address %></p>
        </div>
        <% end %>
    </div>
  </div>
  <div class="col-sm-4">
    <h4>Where</h4>
    <div id="map" style="height:400px;background-color:blue;"></div>
  </div>
</div>

<div class="row">
  <div id="horoscope" class="well">
    <% if (@current_user) %>
      <% search_sign =  @current_user.astro_sign %>
      <% search_period = @when_choice %>
      <% case search_period %>
      <% when 'Today' %>
      <%   arg_path = 'daily/' %>
      <% when 'This Week' %>
      <%   arg_path = 'weekly-overview/' %>
      <% when 'This Month' %>
      <%   arg_path = 'monthly-overview/' %>
      <% end %>
      <% url = "http://www.astrology.com/horoscope/" %>
      <% search_url = url+arg_path+search_sign + ".html" %>
      <% response = RestClient.get(search_url) %>
      <% html = response.body %>
      <% #html = open('/astro_test.html') %>
      <% document = Nokogiri::HTML(html) %>
      <% horoscope = document.css('.page-horoscope-text') %>
      <% if horoscope.empty? %>
        <%=   "no horoscope found for #{search_sign} #{search_period}." %>
      <% else %>
        <strong><%=   search_period+' - '+search_sign.capitalize+' - ' %></strong>
      <%=   horoscope.text %>
      <% end %>
    <% end %>
  </div>
</div>


