<h4>Create Note/Task/Appt for Customer: </h4>
<h5><%= @customer.name %></h5>
<p><%= @customer.address %></p>
<p><%= @customer.contact %>&nbsp;&nbsp;&nbsp;<%= @customer.email %>&nbsp;&nbsp;&nbsp;<%= @customer.phone %></p>
<div class="row">
  <%= bootstrap_form_for([@customer,@note], layout: :horizontal,) do |f| %>
    <%= f.text_field :subject %>
    <%= f.text_area :body %>
    <%= f.datetime_local_field :due_date_time %>
    <%= f.check_box :completed %>
    <%= f.primary %>


  <% end %>
</div>

