<!DOCTYPE html>
<html>
<head>
  <title>BD2Go</title>
  <%= include_gon %>

  <link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.js"></script>

  <!-- <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' /> -->
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <!-- login -->
  <div class="pull-right">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <% if @current_user %>
          Welcome back, <%= @current_user.name %>
        <% else %>
          Login / Signup
        <% end %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% if @current_user %>
            <li><%= link_to "Logout", logout_path %></li>
        <% else %>
            <li><%= link_to "Login", login_path %></li>
            <li><%= link_to "Signup", signup_path %></li>
        <% end %>
      </ul>
    </div>
  </div>




  <div class="app-header">
      <h1><em><%= link_to "BD 2 Go", root_path, :method=> :get %></em></h1>
  </div>

  <div class="row">
    <%= yield %>
  </div>


</div>


</body>
</html>
